<!DOCTYPE html>
<html>
  <head>
    <title>{{site_name}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
<link href="_support/html/css/font-awesome.min.css" rel="stylesheet">
<link href="_support/html/css/nucleus.css" rel="stylesheet">
<link href="_support/html/css/flex.css" rel="stylesheet">
<link rel="stylesheet" href="_support/html/css/bootstrap.min.css">
<script src="_support/html/js/jquery-2.x.min.js"></script>
<script type="text/javascript">
      var baseurl = "/";
</script>
<meta name="description" content="{{{description}}}">
{{{# attribution}}}<meta name="author" content="{{{attribution}}}">{{{/ attribution}}}
  </head>
  <body>
    <header>
  <div class="logo">
    <a class="baselink" href="{{baseurl}}">{{site_name}}</a>
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  
</header>
<article>
  <aside>
    <ul class="menu">
          <li data-nav-id="123" class="dd-item">
          <a href="/">
            <i class="fa fa-fw fa-home"></i>
          </a>
          </li>

{{# menu}}
    <li class="dd-item {{# has_subfiles}} haschildren {{/ has_subfiles}}">
      <div>
      <a href="{{url}}">
	  		{{# has_subfiles }}<i class="fa fa-angle-down fa-lg category-icon"></i>{{/ has_subfiles }}
	  		{{title}}
	  </a>
      
      {{# has_subfiles }}
                 <ul class="dd-item">
                        {{# submenu }}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{/ submenu }}
                 </ul>
       {{/ has_subfiles }}

      </div>
  
    </li>
{{/ menu}}

    </ul>
  </aside>
  <section class="page">


    

<h1>{{title}}</h1>
    
    {{{content}}}

  </section>
</article>

<footer>

<div class="footline">
    <div class="github-link">
      <a href="" target="blank"><i class="fa fa-code-fork"></i>Github</a>
    </div>
  </div>
</footer>

<script src="_support/html/js/clipboard.min.js"></script>

<link href="_support/html/css/featherlight.min.css" rel="stylesheet">
<script src="_support/html/js/featherlight.min.js"></script>

<script src="_support/html/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="_support/html/js/flex.js"></script>

  </body>
</html>
