
	<div class="project-card project-item isotope-item js-id-{{{id}}}">
  	  <div class="card">
    	  <a href="{{{URL}}}" target="_blank" rel="noopener" class="card-image hover-overlay">
      		<img src="{{{imageURL}}}" alt="" class="img-responsive">
    	</a>
    
    	<div class="card-text">
      	  {{{contents}}}
    	</div>
  	</div>
	</div>
